@using Kariyerim2.Models;
@{
    ViewBag.Title = "Is Ekle";
}
@model ilce

<div>
    <form class="modal-content animate" action="/Ilce/IlceEkle" method="post" role="form">
        <div class="form-group">
            <label>il adı</label>
            <select name="il_kodu">
                @foreach (il item in ViewBag.il)
                {
                    <option value="@item.il_kodu">@item.il_adi</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">İlce Adı</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="İlce adı giriniz" name="ilce_adi">
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>