@using Kariyerim2.Models;
@{
    ViewBag.Title = "Isyeri Sil";
}
@model isyeri

<div>
    <a href="Isyeri/Index"> Isyerleri</a>

    <form class="modal-content animate" action="/Isyeri/IsyeriSil" method="post">

        <input type="hidden" name="is_yeri_id" value="@Model.is_yeri_id" />

        <label>@Model.is_yeri_adi silinsin mi?</label>
        <input type="submit" class="btn-danger" value="Evet" />




    </form>



</div>